html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

#chart {
  height: 100%;
}

.node circle {
  stroke-width: 1px;
}

.node:hover text {
  display: inline;
}

.node text {
  display: none;
  font: 10px sans-serif;
}

.link {
  stroke: rgba(0,0,0,0.04);
}
