html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'BlinkMacSystemFont', -apple-system, "Helvetica Neue", "Lucida Grande";
  font-size: 14px;
  color: #26262e;
}

h2 {
  margin: 1.5rem 0 0.5rem 0;
  padding: 0;
  border-bottom: 1px solid rgba(0,0,0,.05);
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 2rem;
}

h2:first-of-type {
  margin-top: 0;
}

dl {
  margin: 0;
  padding: 0;
}

dt {
  color: #6c6c72;
  float: left;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 0.5rem 0 0;
  text-transform: lowercase;
  font-variant: small-caps;
}

dd {
  padding: 0 0 0 0.5rem;
  text-align: right;
}

input[type=text], input[type=password], select {
  display: block;
  width: 100%;
  font-size: 1rem;
  line-height: 1.8rem;
  padding: 3px 5px;
  border: 1px solid #ddd;
  border-radius: 0;
  background: white;
  margin-bottom: 1px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#page {
  display: flex;
  flex-direction: row;
  height: 100%;
  overflow: hidden;
}

#chart {
  flex: 3;
  height: 100%;
}

#sidebar {
  background-color: #ebebec;
  flex: 1;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #ddddde;
  min-width: 300px;
}

#settings {
  flex: 1;
  border-bottom: 1px solid #ddddde;
  padding: 1rem;
}

#instance-info {
  flex: 1;
  padding: 1rem;
}

.node {
  stroke-width: 1px;
  opacity: 0.9;
}

.link {
  stroke: rgba(0,0,0,0.04);
}
